<nav class="nav justify-content-center bg-light py-3 rounded shadow-sm mb-3">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-primary fw-semibold" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-primary fw-semibold" href="inspiracao">Inspiracao</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-primary fw-semibold" href="programacao">Programação</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-primary fw-semibold" href="gifts">Gifts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-primary fw-semibold" href="parceiros">Parceiros</a>
    </li>
  </ul>
</nav>
