<div class="programacao-container container my-4">
  <h2 class="mb-4">Programação do Evento</h2>

  <div class="eventos-lista row g-4">
    @for (evento of eventos; track $index) {
    <div [style.border]="'3px solid ' + evento.corBorda" class="col-md-4 p-1"
      style="border: 2px solid transparent; border-radius: 8px; padding: 1rem; cursor: pointer;">


      <app-evento-card [titulo]="evento.titulo" [data]="evento.data" [horario]="evento.horario" [local]="evento.local"
        [corBorda]="evento.corBorda" (participarEvento)="onParticiparEvento(evento.titulo)">
      </app-evento-card>
    </div>
    } @empty {
    <p class="text-center text-muted fs-5">Nenhum evento encontrado para os filtros selecionados</p>
    }
  </div>
</div>
